In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

With the libraries imported, we can now acquire the dataset for our analysis.
Our dataset will focus on the expenses incurred in freight transportation within the transportation sector (Nəqliyyat sektorunda yük daşınmasına çəkilmiş xərclər).

In [89]:
my_dataset = pd.read_csv('my_dataset.csv')
my_dataset.set_index("Year", inplace=True)
my_dataset.head()

,Unnamed: 1,Cəmi (min manat),Dəmir yolu (mln.manat),Dəniz (min manat),Hava (min manat),Boru kəməri (min manat),neft kəməri (min manat),qaz kəməri (min manat),Avtomobil (min manat)
Year,,,,,,,,,
2024,NaN,4021903.0,427422.0,211906.0,2123704.0,901346.0,301801.0,599545.0,357525.0
2023,NaN,3546099.0,326202.0,202304.0,1835553.0,925185.0,256391.0,668794.0,256855.0
2022,NaN,5192048.0,251589.0,217667.0,3323161.0,1158408.0,218571.0,939837.0,241223.0
2021,NaN,4468545.0,247469.0,173744.0,2831815.0,1021213.0,240720.0,780493.0,194304.0
2020,NaN,3382887.0,273927.0,165743.0,2354497.0,411830.0,243661.0,168169.0,176890.0

Since we have an unnecessary column, we will drop it and continue. The column names will also be translated into English.

In [90]:
my_dataset.drop(columns=["Unnamed: 1"], inplace=True)
my_dataset.rename(columns={"Cəmi (min manat)": "Total (thousand manats)",
                            "Dəmir yolu (mln.manat)": "Railway (thousand manats)",
                            "Dəniz (min manat)": "Sea (thousand manats)",
                            "Hava (min manat)": "Air (thousand manats)",
                            "Boru kəməri (min manat)": "Pipeline (thousand manats)",
                            "neft kəməri (min manat)": "oil pipeline (thousand manats)",
                            "qaz kəməri (min manat)": "gas pipeline (thousand manats)",
                            "Avtomobil (min manat)": "Automobile (thousand manats)"}, inplace=True)
my_dataset.head(10)

,Total (thousand manats),Railway (thousand manats),Sea (thousand manats),Air (thousand manats),Pipeline (thousand manats),oil pipeline (thousand manats),gas pipeline (thousand manats),Automobile (thousand manats)
Year,,,,,,,,
2024,4021903.0,427422.0,211906.0,2123704.0,901346.0,301801.0,599545.0,357525.0
2023,3546099.0,326202.0,202304.0,1835553.0,925185.0,256391.0,668794.0,256855.0
2022,5192048.0,251589.0,217667.0,3323161.0,1158408.0,218571.0,939837.0,241223.0
2021,4468545.0,247469.0,173744.0,2831815.0,1021213.0,240720.0,780493.0,194304.0
2020,3382887.0,273927.0,165743.0,2354497.0,411830.0,243661.0,168169.0,176890.0
2019,2416430.0,260646.0,166465.0,1273033.0,436830.0,267603.0,169227.0,279456.0
2018,2592522.0,248608.0,171414.0,1451140.0,393426.0,232316.0,161110.0,327934.0
2017,2201238.0,345263.0,159354.0,992168.0,418547.0,263263.0,155284.0,285906.0
2016,1655605.0,245551.0,170703.0,601140.0,390673.0,219822.0,170851.0,247538.0
2015,1345095.0,151482.0,151918.0,448755.0,379729.0,198242.0,181487.0,213211.0